@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6020A0;
  --secondary: #2e0d4e;
  --tertiary: #f3f4f6;
}

html,body{
  height: 100%;
  background: linear-gradient(to bottom, var(--primary) 0%, black 50%);
  font-family: 'DM Sans', sans-serif;
}
.header{
  margin-left: 50px;
  color: white;
}
.userbadge{
  position: absolute;
  top: 5%;
  right: 10%;
  transform: scale(1.5);
}
h1{
  position: relative;
  margin-top: -30px;
  font-size: 500%;
}
h2{
  position: relative;
  margin-top: 50px;
  font-size: 200%;
}
.background{
  position: absolute;
  left: -40%;
  top: -2%;
  width: 180%;
}
.controls{
height: 30%;
margin-top: 50%;
margin-left: 1%;
}
.modeselector{
position:relative;
transform: scale(1.5);
margin:auto;
width: 509.98px;
top: 10px;
}

label{
  color: var(--tertiary);
  font-size: 150%;
}

.topselector{
  width: 99%;
  height: 100px;
}

.mselectordiv{
  position: relative;
  width: 509.98px;
  height: 100px;
  margin: auto;
  text-align: center;
}

.selectionlabel{
  position: relative;
}

.notification{
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.onlinebadgeTable{
  position: absolute;
  height: 100px;
  left: 200px;
  color: red;
}
.connecttoRASP,.connecttoATEM{
  position: absolute;
  left: 400px;
  height: 55px;
  margin-top: -75px;
}
