.brightnessslider,.lampslider,.deskheightslider,.fanspeedslider{
    margin:30px;
    width:90%;
}
.saveconfig{
margin-left: 40%;
margin-top: 200px;
color: white;
transform: scale(1.5);
    width: 15%;
}