hr{
    width: 90%;
    margin-left: 30px;
}
.settings{
    left: 10px;
    margin-top: 80%;
}
.atemip,.tableip{
    width: 30%;
    margin-bottom:20px;
    margin-left: 30px;
    margin-top: 10px;
}
.darkmodetoggle,.autofantoggle{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.autoscantoggleATEM,.autoscantoggleRASP{
    margin-left: 30px;
    margin-top: 10px;
}
.statussection{
    margin-left: 30px;
    margin-top: 15px;
    height: 30px;
}
.deskonline{
    margin-top: 5px;
    height: 25px;
    width: 25px;
    border-radius: 30px;
}
.statuslableDesk{
    position: relative;
    left: 35px;
    top: -28px;
    font-size: 140%;
}
.l1{
    margin-left: 30px;
}